body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel Decorative', cursive;
  }

body, html {
  height: 100%;
}

/* SOCIAL MEDIA & NAME-----------------------------------*/
.social-media {
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-media a {
  padding: 5px;
}

.social-media img {
  height: 25px;
  display: flex;
  flex-direction: row;
}

#name {
  text-align: center;
  color: black;
  margin: 0;
}

/*NAVBAR -----------------------------------------------*/
.main-navbar {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  display: flex;
  margin: 0;
}

.center li > a:hover {
  color: black !important;
  text-decoration: underline;
}

.center li {
  display: flex;
}

.center .navbar-nav li a {
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

.center li a {
  padding: 10px 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
  width: 25px;
  height: 3px;
  border-radius: 1px;
}

.navbar-inverse span:hover {
  background-color: white;
}

.navbar-inverse .navbar-collapse {
  border-color: white;
}

/*ABOUT SECTION----------------------------------------------*/
#about-me {
  background: url(images/section-background5.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}
#invite {
  color: white;
  font-size: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0.80);
}

/*ABOUT ME TEXT ENTRIES----------------------*/
.soccer {
  margin-top: 20px;
}

.description {
  font-size: 22px;
  background-color: rgba(0,0,0,0.80);
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.title {
  font-size: 28px;
  text-decoration: underline;
  margin: 10px;
}
#tea {
  font-size: 28px;
  text-decoration: underline;
  margin: 10px;
}

/*ABOUT ME IMAGES-------------------------------------*/
.law-img {
  width: 340px;
  height: auto;
  padding-bottom: 30px;
}
.code-img {
  width: 340px;
  height: auto;
  padding-bottom: 30px;
}
.america-img {
  width: 300px;
  height: auto;
  padding-bottom: 30px;
}
.tea-img {
  width: 330px;
  height: auto;
  padding-bottom: 30px;
}
.calligraphy-img {
  width: 350px;
  height: auto;
  padding-bottom: 30px;
}
.whisky-img {
  width: 300px;
  height: auto;
  padding-bottom: 30px;
}
