body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel Decorative', cursive;
  }

body, html {
  height: 100%;
}

/* SOCIAL MEDIA & NAME-----------------------------------*/
.social-media {
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-media a {
  padding: 5px;
}

.social-media img {
  display: flex;
  flex-direction: row;
}

#name {
  text-align: center;
  color: black;
  margin: 0;
}

/*NAVBAR -----------------------------------------------*/
.main-navbar {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  display: flex;
  margin: 0;
}

.center li > a:hover {
  color: black !important;
  text-decoration: underline;
}

.center li {
  display: flex;
}

.center .navbar-nav li a {
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

.center li a {
  padding: 10px 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
  width: 25px;
  height: 3px;
  border-radius: 1px;
}

.navbar-inverse span:hover {
  background-color: white;
}

.navbar-inverse .navbar-collapse {
  border-color: white;
}

/*ABOUT SECTION----------------------------------------------*/
#about-me {
  background: url(images/section-background5.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}
#invite {
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.80);
}

/*ABOUT ME TEXT ENTRIES----------------------*/
.description {
  background-color: rgba(0,0,0,0.90);
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.title {
  font-size: 28px;
  text-decoration: underline;
  margin: 10px;
}

/*MEDIA QUERIES----------------------------------*-------/

/*iPhone 5/Galaxy--------*/
@media (min-width:320px) {
  /* SOCIAL MEDIA & NAME--*/
  .social-media img {
    height: 20px;
  }
  /*NAVBAR -------------*/
  .main-navbar {
    padding: 0;
  }
  /*ABOUT SECTION----------*/
  #invite {
    font-size: 28px;
  }
  /*ABOUT ME TEXT ENTRIES---*/
  .description {
    font-size: 17px;
  }
  .title {
    font-size: 22px;
    margin: 5px;
    text-align: center;
  }
  /*ABOUT ME IMAGES-------------------------------------*/

  /*law and code*/
  .lawcode {
    display: flex;
    flex-direction: row;
  }
  .law-img {
    width: 160px;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .code-img {
    width: 160px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  /*soccer love*/
  .soccer {
    display: flex;
    flex-direction: column-reverse;
  }
  .america-img {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  /*tea love*/
  .tea-img {
    width: 330px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  /*calligraphy love*/
  .calligraphy {
    display: flex;
    flex-direction: column-reverse;
  }
  .calligraphy-img {
    width: 330px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  /*whisky love*/
  .whisky-img {
    width: 330px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media (min-width:768px) {
    /* SOCIAL MEDIA & NAME-----------------------------------*/
    .social-media img {
      height: 22px;
    }
    #name {
      text-align: center;
      color: black;
      margin: 0;
      font-size: 42px;
    }
    /*NAVBAR -----------------------------------------------*/
    .main-navbar {
      padding: 10px 0;
    }
    /*ABOUT SECTION--------------------------------------*/
    #invite {
      font-size: 40px;
    }
    /*ABOUT ME TEXT ENTRIES----------------------*/
    .description {
      font-size: 18px;
    }
    .title {
      font-size: 24px;
      text-decoration: underline;
      margin: 10px;
      text-align: left;
    }
    /*ABOUT ME IMAGES-------------------------------------*/
    /*law and code*/
    .lawcode {
      display: flex;
      flex-direction: column;
    }
    .law-img {
      width: 280px;
      height: auto;
    }
    .code-img {
      width: 280px;
      height: auto;
      padding-bottom: 30px;
    }
    /*soccer love*/
    .soccer {
      display: flex;
      flex-direction: row;
    }
    .america-img {
      width: 260px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    /*tea love*/
    .tea-col{
      height: 250px;
    }
    .tea-img {
      width: 280px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    /*calligraphy love*/
    .calligraphy {
      display: flex;
      flex-direction: row;
    }
    .calligraphy-img {
      width: 280px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    .whisky-img {
      width: 280px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
}

@media (min-width:768px)
  and (min-height: 800px){
    /* SOCIAL MEDIA & NAME-----------------------------------*/
    .social-media img {
      height: 25px;
    }
    #name {
      text-align: center;
      color: black;
      margin: 0;
      font-size: 42px;
    }
    /*NAVBAR -----------------------------------------------*/
    .main-navbar {
      padding: 10px 0;
    }
    /*ABOUT SECTION--------------------------------------*/
    #invite {
      font-size: 40px;
    }
    /*ABOUT ME TEXT ENTRIES----------------------*/
    .description {
      font-size: 22px;
    }
    .title {
      font-size: 28px;
      text-decoration: underline;
      margin: 10px;
      text-align: left;
    }
    /*ABOUT ME IMAGES-------------------------------------*/
    /*law and code*/
    .lawcode {
      display: flex;
      flex-direction: column;
    }
    .law-img {
      width: 340px;
      height: auto;
      padding-bottom: 30px;
    }
    .code-img {
      width: 340px;
      height: auto;
      padding-bottom: 30px;
    }
    /*soccer love*/
    .soccer {
      display: flex;
      flex-direction: row;
    }
    .america-img {
      width: 300px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    /*tea love*/
    .tea-img {
      width: 330px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    /*calligraphy love*/
    .calligraphy {
      display: flex;
      flex-direction: row;
    }
    .calligraphy-img {
      width: 350px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
    .whisky-img {
      width: 300px;
      height: auto;
      padding-bottom: 30px;
      padding-top: 0;
    }
}
@media (min-width:768px)
  and (min-height: 1024px){
    .col-sm-8, .col-sm-4 {
      width: 100%;
    }
    .calligraphy {
      display: flex;
      flex-direction: column-reverse;
    }
    .soccer {
      display: flex;
      flex-direction: column-reverse;
    }
    .lawcode {
      display: flex;
      flex-direction: row;
    }
    .techlegal {
      display: flex;
      flex-direction: column;
    }
    .law-img, .code-img {
      width: 330px;
      height: 350px;
    }
    .tea {
      display: flex;
      flex-direction: column;
    }
    .whisky {
      display: flex;
      flex-direction: column;
    }
    .america-img {
      width: 380px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    /*tea love*/
    .tea-img {
      width: 500px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    .calligraphy-img {
      width: 500px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    .whisky-img {
      width: 500px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    .title {
      text-align: center;
    }
}

@media (min-width:800px)
  and (min-height: 1200px){
    /* SOCIAL MEDIA & NAME-----------------------------------*/
    .social-media img {
      height: 35px;
    }
    #name {
      font-size: 58px;
    }
    /*NAVBAR -----------------------------------------------*/
    .center .navbar-nav li a {
      font-size: 32px;
    }
    /*ABOUT SECTION--------------------------------------*/
    #invite {
      font-size: 48px;
    }
    /*ABOUT ME TEXT ENTRIES----------------------*/
    .title {
      font-size: 38px;
      text-align: center;
    }
    .description {
      font-size: 28px;
    }
    /*ABOUT ME IMAGES-----------------------------*/
    .col-sm-8, .col-sm-4 {
      width: 100%;
    }
    /*law and code*/
    .techlegal {
      display: flex;
      flex-direction: column;
    }
    .lawcode {
      display: flex;
      flex-direction: row;
    }
    .law-img, .code-img {
      width: 370px;
    }
    /*soccer love*/
    .soccer {
      display: flex;
      flex-direction: column-reverse;
    }
    .america-img {
      width: 400px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    /*tea love*/
    .tea-img {
      width: 530px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    /*calligraphy love*/
    .calligraphy {
      display: flex;
      flex-direction: column-reverse;
    }
    .calligraphy-img {
      width: 530px;
      padding-bottom: 0;
      padding-top: 40px;
    }
    .whisky-img {
      width: 500px;
      padding-bottom: 0;
      padding-top: 40px;
    }
}

/*Slim window size on monitor------------------*/
@media (min-width:320px)
  and (min-height:800px){


}

/*For Phones like Nexus 7 ------------------------*/
@media (min-width:600px) {

}

/*For when resizing browswer screen-------------------------*/
@media (min-width:600px)
  and (min-height: 800px){

}

@media (min-width:768px) {

}

@media (min-width:768px)
  and (min-height:600px){

}
