body {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel Decorative', cursive;
  }
html {
  height: 100%;
}

@-ms-viewport{
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.col-sm-12 {
  text-align: center;
  color: white;
}

.col-sm-12 ul li {
  display: inline;
  font-size: 18px;
  white-space: nowrap;
}

.col-sm-12 ul {
  padding-left: 0px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.skills ul li:last-child::after {
  content: none;
}

.skills ul li:after {
  content: "\2022";
  font-size: 20px;
  padding: 3px;
}


#profession {
  background-color: rgba(0, 0, 0, 0.52);
  font-size: 18px;
}

#portrait {
  border-radius: 90%;
  max-width: 280px;
  max-height: 500px;
  margin-top: 6%;
}

/* NAVBAR */

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  display: flex;
}
.navbar-nav {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
}

.footer a {
  color: white;
  font-size: 20px;
  line-height: 5px;
}

.footer li a {
  background-color: rgba(0, 0, 0, 0.52);
  display: inline-block;
  padding: 10px 20px;
}

.navbar-inverse .navbar-toggle {
  border-color: black;
}


.navbar-toggle .icon-bar {
  width: 25px;
  height: 3px;
  border-radius: 1px;
}

.nav .navbar-nav .contact {
  float: left;
}



/* DO I NEED THESE FOR A RESPONSIVE WEB DESIGN?? WHAT GOES IN BETWEEN EACH*/

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  #portrait {
    max-width: 180px;
  }
  .col-sm-12 ul li {
    font-size: 12px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
