body {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel Decorative', cursive;
  }
html {
  height: 100%;
}

@-ms-viewport{
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.col-sm-12 {
  text-align: center;
  color: white;
}


.col-sm-12 ul {
  padding-left: 0px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.skills ul li {
  display: inline;
  font-size: 22px;
  white-space: nowrap;
}

.skills ul li:last-child::after {
  content: none;
}

.skills ul li:after {
  content: "\2022";
  font-size: 20px;
  padding: 3px;
}

#profession {
  background-color: rgba(0, 0, 0, 0.52);
}


/* NAVBAR */

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  display: flex;
}
.navbar-nav {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
}

.footer a {
  color: white;
  font-size: 26px;
  line-height: 5px;
}

.footer li a {
  background-color: rgba(0, 0, 0, 0.52);
  display: inline-block;
  padding: 10px 20px;
}

.navbar-inverse .navbar-toggle {
  border-color: black;
}


.navbar-toggle .icon-bar {
  width: 25px;
  height: 3px;
  border-radius: 1px;
}

.nav .navbar-nav .contact {
  float: left;
}

/* DO I NEED THESE FOR A RESPONSIVE WEB DESIGN?? WHAT GOES IN BETWEEN EACH*/

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 320px) {
  #portrait {
    border-radius: 90%;
    max-height: 280px;
    margin-top: 2%;
  }
  #name {
    font-size: 22px;
  }
  /*Profession*/
  #profession {
    font-size: 16px;
  }
  .skills ul li {
    font-size: 14px;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
