body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel Decorative', cursive;
  }
body, html {
  height: 100%;
}

/*HEADER------------------------------------*/
.social-media {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.social-media img {
  display: flex;
  flex-direction: row;
}
#name {
  text-align: center;
  color: black;
  margin: 0;
}

/*NAVBAR------------------------------------*/
.main-navbar {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  display: flex;
  margin: 0;
}

.center .navbar-nav li > a:hover {
  color: black !important;
  text-decoration: underline;
}

.center .navbar-nav li a {
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

.center li a {
  padding: 10px 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
  width: 25px;
  height: 3px;
  border-radius: 1px;
}

.navbar-inverse span:hover {
  background-color: white;
}

.navbar-inverse .navbar-collapse {
  border-color: white;
}

/*PROJECTS---------------------------------------*/
#title {
  color: white;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.col-sm-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-thumbnail {
  background-color: transparent;
  padding: 0px;
  max-width: 400px;
  height: 250px;
}

.caption {
  color: white;
  font-size: 24px;
  background-color: rgba(0,0,0,0.80);
}

.description {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0.80);
  margin-top: 5px;
  max-width: 400px;
}

/*MEDIA QUERIES----------------------------------*/

/*iPhone 5/Galaxy-----------------------------*/
@media (min-width:320px) {
  /*SOCIAL MEDIA*/
  .social-media a {
    padding: 10px;
  }
  .social-media img {
    height: 20px;
  }

  /*NAME*/
  #name {
    font-size: 32px;
  }

  /*NAVBAR*/
  .main-navbar {
    padding: 0;
  }
  .center .navbar-nav li a {
    font-size: 16px;
  }
  .center li a {
    padding: 5px 0;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    width: 25px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-inverse .navbar-collapse {
    border-color: white;
  }

  /*PROJECTS*/
  #title {
    background-color: rgba(0,0,0,0.52);
    font-size: 30px;
  }
  #projects {
    background: url(images/section-background5.jpg) center center fixed;
  }
  .row {
    display: block;
  }
  .img-thumbnail {
    width: 100%;
    height: auto;
    border-color: transparent;
  }
  .caption {
    font-size: 20px;
    text-decoration: underline;
  }
  .description {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 35px;
    margin-top: 0;
  }
}

/*Slim window size on monitor------------------*/
@media (min-width:320px)
  and (min-height:800px){
    /*SOCIAL MEDIA*/
    .social-media a {
      padding: 5px;
    }
    .social-media img {
      height: 30px;
    }
    /*NAME*/
    #name {
      font-size: 42px;
    }
    /*NAVBAR*/
    .main-navbar {
      padding: 10px 0;
    }
    .center .navbar-nav li a {
      font-size: 22px;
    }
    .center li a {
      padding: 10px 20px;
    }
    /*PROJECTS*/
    #title {
      background-color: rgba(0,0,0,0.52);
      font-size: 40px;
    }
    #projects {
      background: url(images/section-background5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 840px;
    }
    .row {
      display: block;
    }
    .img-thumbnail {
      width: 100%;
      height: auto;
      border-color: transparent;
    }
    .caption {
      font-size: 20px;
      text-decoration: underline;
    }
    .description {
      font-size: 14px;
      text-align: justify;
      margin-bottom: 35px;
      margin-top: 0;
    }
}

/*For Phones like Nexus 7 ------------------------*/
@media (min-width:600px) {
  /*SOCIAL MEDIA*/
  .social-media img {
    height: 25px;
  }
  /*NAME*/
  #name {
    font-size: 42px;
  }

  /*PROJECTS*/
  #title {
    background-color: rgba(0,0,0,0.52);
    font-size: 40px;
  }
  #projects {
    background: url(images/section-background5.jpg);
    height: 100%;
  }

  .caption {
    background-color: rgba(0,0,0,0.80);

  }
  .description {
    background-color: rgba(0,0,0,0.80);
  }
}

/*For when resizing browswer screen-------------------------*/
@media (min-width:600px)
  and (min-height: 800px){
  /*SOCIAL MEDIA*/
  .social-media img {
    height: 25px;
  }

  /*NAME*/
  #name {
    font-size: 42px;
  }

  /*PROJECTS*/
  #title {
    background-color: rgba(0,0,0,0.80);
    font-size: 40px;
  }
  #projects {
    background: url(images/section-background5.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .caption {
    background-color: rgba(0,0,0,0.80);
    font-size: 22px;

  }
  .description {
    background-color: rgba(0,0,0,0.80);
    font-size: 20px;
  }
}

@media (min-width:768px) {

}

@media (min-width:768px)
  and (min-height:600px){

}

@media (min-width:768px)
  and (min-height: 800px){

}
